@import "lib/variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 450px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    font-size: 13px;
    background: #fbfbfb;
}

header {
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 12px 8px 12px;
    display: flex;

    h1 {
        flex-grow: 1;
        padding-left: 24px;
        font-size: 14px;
        font-weight: 600;
        background: no-repeat 0 1px url("./icons/icon16.png");
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        text-decoration: none;
        flex-grow: 0;
        color: #ccc;
        margin-left: 8px;
        &:hover {
            color: #1a73e8;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: #666;
    border-top: 1px solid #e0e0e0;

    .spacer {
        margin-right: 8px;
    }

    .last-update-box {
        margin-left: auto;
        font-style: italic;
        font-size: 10px;
        color: #5f6368;
    }

    svg {
        width: 14px;
        height: 14px;
        margin: 0;
    }
}

.d-none {
    display: none;
}

.error-line {
    background: var(--error-color);
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 2px 0;
}

/*.links a {*/
/*    color: #1a73e8;*/
/*    text-decoration: none;*/
/*    font-size: 12px;*/
/*}*/

/*.toolbar {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    !*margin-bottom: 12px;*!*/
/*}*/

/* #lastUpdateTime { */

.downloads-list {
    max-height: 400px;
    overflow-y: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: row;

    .task-item {
        padding: 6px 12px;
        &.locked {
            opacity: 0.3;
            background: #EEC!important;
            task-actions {
                display: none;
            }
        }

        &:hover {
            background: #eee;
        }

        [data-status-message] {
            color: #444;
            font-size: 10px;
            padding-left: 14px;
        }

        &[data-type="uploading"] {
            progress {
                accent-color: #9a7026;
            }
        }

        &[data-type="completed"] {
            progress {
                accent-color: var(--success-color);
            }
        }

        &[data-type="errored"] {
            [data-status-message] {
                color: var(--error-color);
            }

            progress {
                accent-color: var(--error-color);
            }
        }

        &[data-type="other"] {
            [data-status-message] {
                color: #888;
            }

            progress {
                accent-color: #888;
            }
        }

        .row {
            display: flex;
            align-items: center;

            .info {
                flex-grow: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;

                [data-title] {
                    font-size: 12px;
                    font-weight: 500;
                }

                status-icon {
                    position: absolute;
                    height: 12px;
                    width: 12px;
                    left: 0;
                    top: 17px;
                }
            }

            task-actions {
                flex-shrink: 0;
            }
        }

        /*action-button {*/
        /*    margin-left: 8px;*/
        /*    margin-right: 2px;*/
        /*}*/

        /*[data-action] {*/
        /*    text-decoration: none;*/
        /*    color: #ccc;*/
        /*    margin-left: 8px;*/
        /*    margin-right: 2px;*/

        /*    &:hover {*/
        /*        color: #1a73e8;*/

        /*        &[data-action="delete"] {*/
        /*            color: #d93025;*/
        /*        }*/
        /*    }*/

        /*    svg {*/
        /*        width: 16px;*/
        /*        height: 16px;*/
        /*    }*/
        /*}*/

        /*.task-remove {*/
        /*    text-decoration: none;*/
        /*    color: #ccc;*/
        /*    &:hover {*/
        /*        color: #d93025;*/
        /*    }*/
        /*}*/
        /*.task-resume, .task-pause {*/
        /*    text-decoration: none;*/
        /*    color: #ccc;*/
        /*    &:hover {*/
        /*        color: #1a73e8;*/
        /*    }*/
        /*}*/
    }

    progress {
        height: 10px;
        margin-top: 2px;
    }
}

.loading,
.empty {
    text-align: center;
    color: #5f6368;
    padding: 20px;
}

